/* ==============================================  */
/* =======================common=======================  */
/* ==============================================  */
body {
  line-height: 1.75;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #ddd;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  letter-spacing: -1.5px;
}
/* ==============================================  */
/* =======================nav=======================  */
/* ==============================================  */

nav {
  background: #333;
  position: relative;
  z-index: 999;
}

nav.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu{
  display: flex;
  width: 100%;
  max-width: 80vw;
  max-width: 1200px;
  margin: auto;
text-align: center;
}

.dep1{
  width: calc(100% / 5);
}

.mega{
width: 100vw;
background-color: rgb(158, 161, 167);
position: absolute;
left: 0;
height: 0;
overflow: hidden;
transition: height 0.3s;
z-index: 1000;
}

.dep1.on .mega{
  height: 500px;
}

.row{
  display: flex;
  max-width: 80%;
  margin: auto;
  gap: 10%;
  text-align: center;
  padding: 20px 0 40px;
  justify-content: center;
  white-space: nowrap;
}



/* ==============================================  */
/* =======================section=======================  */
/* ==============================================  */

section{
  height: 100vh;
  padding: 2vw;
}