/* ==============================================  */
/* =======================common=======================  */
/* ==============================================  */
body {
  line-height: 1.75;
}
.dep1 a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  padding: 0 65px 0;
  line-height: 80px;
  white-space: nowrap;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  letter-spacing: -1.5px;
}

/* ==============================================  */
/* =======================메뉴인포=======================  */
/* ==============================================  */

.menu-info{
  width: 400px;
  background: #eee;
  padding: 20px 30px;
}

.menu-info h2{
  margin-bottom: 8px;
}
.menu-info p{
  font-size: 15px;
  letter-spacing: -0.5px;
}

.dep2 li{
  font-size: 15px;
  color: #363636;
}

/* ==============================================  */
/* =======================nav=======================  */
/* ==============================================  */

nav {
  background: #ffffff;
  position: relative;
  height: 80px;
  z-index: 999;
}

nav.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.menu{
  display: flex;
  width: 100%;
  max-width: 80vw;
  max-width: 1200px;
  margin: auto;
text-align: center;
}

.dep1{
  width: calc(100% / 5);
}

.mega{
width: 100vw;
background-color: rgb(255, 255, 255);
position: absolute;
left: 0;
height: 0;
display: grid;
grid-template-columns: 400px 1fr;
overflow: hidden;
transition: height 0.3s;
z-index: 1000;
}

.dep1.on .mega{
  height: 500px;
}

.row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 0;
  gap: 20px;
  text-align: left;
  padding: 30px 100px;
  justify-content: center;
  white-space: nowrap;
}



/* ==============================================  */
/* =======================section=======================  */
/* ==============================================  */

section{
  height: 100vh;
  padding: 2vw;
}