/* Swiper-1 */
.swiper {
  width: 100%;
  height: 100%;
}

.Swiper-1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Swiper-1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Swiper-2 */

.Swiper-2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Swiper-2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
